Epic: JWT / JWS / JWK

This epic will track the progress of the following features:

#81 JSON Web Token (JWT) - [RFC 7519](https://tools.ietf.org/html/rfc7519)
#81 JSON Web Signature (JWS) - [RFC 7515](https://tools.ietf.org/html/rfc7515)
#82 JSON Web Key (JWK) - [RFC 7517](https://tools.ietf.org/html/rfc7517)

See the ZenHub [project board](https://app.zenhub.com/workspaces/authorization-server-5e8f3182b5e8f5841bfc4902/board?repos=248032165).