How to clear session when revoke token ?

**Describe the bug**
The revoke token api seems need these arguments:
1) tokenValue
2) token_type_hint
3)client id and client secret
Can it remove client id and client secret ? my client just keep a client id, it can not access Authentication Server directly bacause it lacks of **client secret**.

**Expected behavior**
Can it just pass a token and token_type_hint to revoke token ? 
Or else i can not clear the session(client and Authentication Server) because resource server sits between them.



@gth7754125 The client MUST authenticate at the Revocation endpoint.

See [2.1.  Revocation Request:](https://tools.ietf.org/html/rfc7009#section-2.1)

> The client also includes its authentication credentials as described
   in Section 2.3. of [RFC6749]

Please review the spec for more details.